html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fde8a7;
}


.bg-site {
  min-height: 100vh;
  padding-bottom: 60px;
}


.text-title {
  font-family: 'Roxborough CF', serif;
  font-size: 2.5rem;
  color: #fde8a7;
  font-weight: bold;
}


/* Navbar Color */
.bg-green {
   background-color: #17473B;
  }


/* Navbar */
.navbar .nav-link {
  color: #fff;
  font-weight: 500;
  margin: 0 10px;
}


.navbar .nav-link:hover {
  color: #fde8a7;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}


.navbar .nav-link.active {
  color: #fde8a7;
  font-weight: bold;
}


/* Section */
section p {
  color: #3a1f04;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}


/* Cards */
h2{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #17473B;
  font-weight: bold;
  margin-bottom: 20px;
}


h3{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #722823;
  font-weight: bold;
}


h4{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}


.h4app{
  display: inline;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}


p + p {
  display: inline;
  margin: 0;
}


.sec-card {
  background-color: #fde8a7;
  border: 3px solid #EFDD97;
  border-radius: 20px;
  padding: 10px;
}


.sec-card-1 {
  background-color: #fde8a7;
  border: none;
}


.sec-card-2 {
  background-color: #fde8a7;
  border: 3px solid #EFDD97;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


.team-member {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.team-member img {
  margin-top: 5px;
  width: 90%;
  height: auto;
  display: block;
}


.team-member p {
  margin: 0;
}

