body{
    background-color: #f4e2a0;
}
.navbar{
    background-color: #17473b;
}
.navbar .nav-link,
.bookshelf{
    color: #d1c8c1;
}

.logo-img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.tag-name{
    color: #301616;
}

.buy{
    background-color: #31241e;
    color: #f4e2a0;
}

.sign-up,
.sendM{
    background-color: #671818;
}

.card-body{
    background-color: #f4e2a0;
}

/* Hamburher Menu */
.custom-toggler .navbar-toggler-icon {
    display: none;
}

.custom-toggler {
    border: none;
    background-color: #f4e2a0; 
    border-radius: 50%;         
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.custom-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: 0.4s;
}

.custom-toggler:focus,
.custom-toggler:active {
    outline: none;       
    box-shadow: none;    
}

.custom-toggler:hover {
    background-color: #e5d890; 
}
/* ----------------------------- */

.bg-custom{
    background-color: #86654b;
}

.contact{
    color: #17473b;
}

.form-color{
    background-color: #dfcc86;
}

.nav-link:hover {
    color: #f4e2a0;  /* color on hover */
    background-color: #17473b; /* optional background */
    border-radius: 5px; /* optional rounded background */
    padding: 5px 10px;  /* optional padding for hover effect */
}

.bg-custom1{
    background-color: #31241e;
    color: white;
}



